{% extends "frlsim/base.html" %}

{% block title %}Acts by party{% endblock %}

{% block content %}
	<h1>Acts by party</h1>
	
	{% for party, party_acts in acts|groupby('party') %}
		<h2>{{ party }}</h2>
		<ul class="ui list">
			{% for act in party_acts %}
				<li><a href="/act/{{ act.code }}">A{{ act.year }}.{{ act.number }}: {{ act.metadata.title }}</a>{% if act.repealed_by %} (Repealed){% endif %}</li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
