{% extends "frlsim/base.html" %}

{% block title %}Acts by term and number{% endblock %}

{% block content %}
	<h1>Acts by term and number</h1>
	
	{% for year, year_acts in acts|groupby('year') %}
		<h2>Term {{ year }}</h2>
		<ul class="ui list">
			{% for act in year_acts %}
				<li><a href="/act/{{ act.code }}">A{{ act.year }}.{{ act.number }}: {{ act.metadata.title }}</a>{% if act.repealed_by %} (Repealed){% endif %}</li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
