{% extends "frlsim/base.html" %}

{% block title %}Budget{% endblock %}

{% block content %}
<h1>Budget</h1>

<div class="flourish-embed flourish-chart" data-src="visualisation/3498030"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<div class="flourish-embed flourish-chart" data-src="visualisation/3517236"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<div class="flourish-embed flourish-chart" data-src="visualisation/3517263"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
{% endblock %}
